<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xhtml PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:sec="http://www.springframework.org/security/tags">


    <p:menubar id="menuBar">  
        <p:menuitem id="test" value="Úvod" url="index.xhtml"  update="messages" />    
        <p:menuitem value="Zadání" url="zadani.xhtml" update="messages" icon="ui-icon ui-icon-star"/> 

        <sec:authorize ifAllGranted="ROLE_USER">
            <p:menuitem value="Moje semestrálka" url="semestralka.xhtml?id=#{userController.currentUser.zadani.id}" update="messages" icon="ui-icon ui-icon-star" disabled="#{zadaniController.semestralkaDisable()}"/> 
            <p:menuitem value="Odevzdat semestrálku" url="uploadSemestralka.xhtml " update="messages" icon="ui-icon ui-icon-star" disabled="#{zadaniController.odevzdatDisable()}"/>
        </sec:authorize>
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            
                
                <p:menuitem value="Studenti"  url="userList.xhtml" />
                <p:menuitem value="Paralelky"  url="paralelka.xhtml" />
          <sec:authorize ifAnyGranted="ROLE_ADMIN">
              
              <p:menuitem value="Technologie"  url="technologie.xhtml" />   
            <p:submenu label="Administrativa">  
                <p:menuitem value="Globální změna hesla"  url="userHeslo.xhtml" update="messages"/>
                <p:menuitem value="Nahrání uživatelů a zadaní"  url="uploadAdmin.xhtml" update="messages"/>
               
            </p:submenu>
        </sec:authorize>
        </sec:authorize>
        <p:menuitem value="Nastavení"  url="nastaveni.xhtml" update="messages" rendered="false"/>
               
        <p:menuitem value="Stránka předmětu" url="https://edux.feld.cvut.cz/courses/A0B36PR1/classification/start" icon="ui-icon ui-icon-home"/>  

    </p:menubar>  


</ui:composition>



