*{
    font-size: 97%;
    
    
}

h2{

    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}


p{
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}
/*Rozlozeni*/
#container {
	margin: 0px auto;
	text-align: left;
	width: 817px;
}
#headerLayout {
	margin: 0px 0px 0px 0px;
	width:517px;
        float:left;
	
}
#logoutLayout {
	margin: 0px 0px 0px 0px;
	width:90px;
        float:right;

}
#headerline {
clear:both;
font-size:1px;
height:1px;
}
#menuLayout {
	margin: 0px 0px 0px 0px;
	width:817px;
        height:50px; 
}
#contentLayout {
	width:817px;
}
#footerline {
clear:both;
font-size:1px;
height:10px;
}
#footerLayout {
	width:817px;
	text-align:center;
	
}
/*rozlozeni-konec*/
#logoutButton{

    font-size: 14px;
    height: 32px;
}

#logo{
    background: url("img/logo.gif") no-repeat transparent;
    width: 120px;
    height: 101px;
    float:left;
    position: relative; 
    
}
h1{
    text-align: center;
    font-size: 180%;
    
    font-family: 'Times New Roman',Times,serif;
}

/*MENU*/
/*
.ui-breadcrumb{
    height: 15px;
    
}

.ui-breadcrumb ul li{
    font-size: 10px;
    float: left;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    
}

.wijmo-wijmenu .wijmo-wijmenu-item .wijmo-wijmenu-text, .wijmo-wijmenu-horizontal .wijmo-wijmenu-parent .ui-icon, .wij-menu-breadcrumb a, .wij-menu-breadcrumb span, .wij-menu-breadcrumb .wij-menu-prev-list a .ui-icon {
    float: left;
    font-size: 15px; 
}
ui-panel-titlebar ui-widget-header ui-corner-all{
    height: 15px;
    width: 15px;
    
}

.ui-panel .ui-panel-title {
    margin: 0.1em 16px 0.2em 0;
    font-size: 12px;
    font-weight: bold;
}

#test{

   
}
h:outputLabel{
    font-size: 33px;
    height: 32px;
}
p:outputLabel{
    font-size: 33px;
    height: 32px;  
}*/

#menu a, #menu a:visited {
    text-align:left; 
    text-decoration:none; 
    color:#000; 
    display:block; 

   
}