<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">

        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER,ROLE_TUTOR">
        
        <p:breadCrumb>  
            <p:menuitem value="Home" url="index.xhtml" /> 
            <p:menuitem value="Zadání"  url="zadani.xhtml" />
            <p:menuitem value="Tvorba nového zadání" /> 
        </p:breadCrumb>

            <p:messages autoUpdate="true" redisplay="false"/>  

        <h:panelGrid columns="2" cellpadding="2" border="0" id="createZadani" >

            <h:outputLabel for="tbNazev" value="Název"/>
            <h:inputText id="tbNazev" value="#{zadaniController.zadani ne null ? zadaniController.zadani.nazev : zadaniController.nazev}" validatorMessage="Délka názvu zadání musí být minimálně 2 znaky a maximalně 128!">
                <f:validateLength maximum="128" minimum="2"/>
            </h:inputText>

            <h:outputLabel for="taPopis" value="Popis"/>
            <p:inputTextarea id="taPopis" value="#{zadaniController.zadani ne null ? zadaniController.zadani.popis : zadaniController.popis}"  cols="80" rows="14" autoResize="true" validatorMessage="Délka popisu zadání musí být minimálně 2 znaky a maximalně 2048!" >
                <f:validateLength maximum="2048" minimum="2"/>
            </p:inputTextarea>


            <p:selectManyCheckbox  value="#{zadaniController.selectedTech}" converter="#{technologieConverter}" 
                                   layout="pageDirection">            
                <f:selectItems value="#{zadaniController.allTechnologies}" var="technology" itemValue="#{technology}" itemLabel="#{technology.nazev}" />                   
            </p:selectManyCheckbox>
            
           
        </h:panelGrid>  

         <sec:authorize ifAllGranted="ROLE_USER"> 
        <p><h:outputText value="Zadání bude vytvořeno a bude Vám přiděleno, dokud ho neschválí učitel není zadání potvrzené jako možné téma. Téma neposlané ke schválení budete moct ješte editovat." ></h:outputText>
        </p>
        <p:commandButton type="submit" value="Vytvořit a neodesílat ke schválení učiteli" action="#{zadaniController.add(4)}" disabled="#{zadaniController.createDisabled()}"></p:commandButton>
        <p:commandButton type="submit" value="Vytvořit a odeslat ke schválení učiteli" action="#{zadaniController.addAsRequested()}" disabled="#{zadaniController.createDisabled()}"></p:commandButton>
         </sec:authorize>
            
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">          
                 <p:commandButton type="submit" value="Vytvořit zadaní" action="#{zadaniController.add(1)}" disabled="#{zadaniController.createDisabled()}"></p:commandButton>
        </sec:authorize> 
        
            </sec:authorize>
    </ui:define>
</ui:composition>
