<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">




    <ui:define name="content">

        <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
        </sec:authorize>


        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Technologie"  url="technologie.xhtml" />
                <p:menuitem value="Tvorba nové technologie" /> 
            </p:breadCrumb>

   <p:messages autoUpdate="true" redisplay="false"/>  
            <h:panelGrid columns="2" cellpadding="2" border="0" id="createZadani" >

              
                <h:outputLabel for="tbNazev" value="Název"/>
                <h:inputText id="tbNazev" value="#{technologieController.technologie ne null ? technologieController.technologie.nazev : technologieController.nazev}" validatorMessage="Délka názvu technologie musí být minimálně 2 znaky a maximalně 128!">
                    <f:validateLength maximum="128" minimum="2"/>
                </h:inputText>

            </h:panelGrid>    

            <p:commandButton type="submit" value="Vytvořit technologii" action="#{technologieController.add()}" >
                <f:param name="id" value="#{param['id']}" />
            </p:commandButton>
            <p:commandButton type="submit" value="Zpět" immediate="true" action="#{technologieController.back()}" />

        </sec:authorize>  

    </ui:define>
</ui:composition>
