<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER,ROLE_TUTOR">
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Zadání"  url="zadani.xhtml" />
                <p:menuitem value="Detail zadání" /> 
            </p:breadCrumb>

            <!--              <set name="requestScope.zadani.id" value="requestParameters.id" type="long" />-->

            <f:metadata>
                <f:event type="preRenderView" listener="#{zadaniController.getZadani()}"/>
            </f:metadata>



            <div id="commandButtons">
                <p:menubar>
                    <sec:authorize ifAnyGranted="ROLE_USER,ROLE_ADMIN">
                        <p:menuitem value="Nové zadání"  action="#{zadaniController.create}" disabled="#{zadaniController.createDisabled()}"/>  
                    </sec:authorize>

                    <sec:authorize ifAnyGranted="ROLE_USER">
                        <p:menuitem value="Rezervovat" onclick="rezervovatConfirmation.show()" disabled="#{zadaniController.reservationDisabled()}" />             
                    </sec:authorize> 
                    <p:menuitem value="Editovat" action="#{zadaniController.edit()}" disabled="#{zadaniController.editDisabled()}">
                        <f:param name="id" value="#{param['id']}" />
                    </p:menuitem>
                    <p:menuitem value="Smazat" onclick="deleteConfirmation.show()" disabled="#{zadaniController.editDisabled()}"/>

                </p:menubar>
            </div>

            <h:panelGrid columns="2" cellpadding="2" border="0">


                <h:outputLabel for="tbNazev" value="Název"/>
                <h:outputText id="tbNazev" value="#{zadaniController.zadani.nazev}" ></h:outputText>

                <h:outputLabel for="taPopis" value="Popis"/>
                <p:inputTextarea id="taPopis" value="#{zadaniController.zadani.popis}"  cols="80" rows="14" autoResize="true"   readonly="true" />     

                <p:dataTable  var="technologie" value="#{zadaniController.selectedTech}" rendered="#{not empty zadaniController.selectedTech}">

                    <p:column id="technologieNazev" >
                        <f:facet name="header">
                            <h:outputText value="Technologie" />
                        </f:facet>
                        <h:outputText value="#{technologie.nazev}" />
                    </p:column>

                </p:dataTable>


            </h:panelGrid>


            <p:confirmDialog id="rezervovat" message="Opravdu chcete vybrat toto zadani? #{zadaniController.zadani.nazev}"   
                             widgetVar="rezervovatConfirmation" header="Potvrdit">  

                <p:commandButton value="Ano"  oncomplete="rezervovatConfirmation.hide()" action="#{zadaniController.rezervovat()}">
                    <f:param name="id" value="#{param['id']}" />
                </p:commandButton>
                <p:commandButton value="Ne" onclick="rezervovatConfirmation.hide()" type="button" />   

            </p:confirmDialog>

            <p:confirmDialog message="Opravdu chcete smazat toto zadani? #{zadaniController.zadani.nazev}"  
                             widgetVar="deleteConfirmation" header="Potvrdit">  

                <p:commandButton value="Ano"  oncomplete="deleteConfirmation.hide()" action="#{zadaniController.delete()}">
                    <f:param name="id" value="#{param['id']}" />
                </p:commandButton> 
                <p:commandButton value="Ne" onclick="deleteConfirmation.hide()" type="button" />   

            </p:confirmDialog>

        </sec:authorize>
    </ui:define>
</ui:composition>
