<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">
                     
    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER,ROLE_TUTOR">
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Zadání"  url="zadani.xhtml" />
                <p:menuitem value="Editování zadání" /> 
            </p:breadCrumb>
            
            <f:metadata>
                <f:event type="preRenderView" listener="#{zadaniController.validateRights()}"/>
            </f:metadata>
            
            <p:messages autoUpdate="true" redisplay="false"/>
            
            <h:panelGrid columns="2" cellpadding="2" border="0" >
            
                <h:outputLabel for="tbNazev" value="Název:"/>
                <h:inputText id="tbNazev" value="#{zadaniController.zadani ne null ? zadaniController.zadani.nazev : zadaniController.nazev}" validatorMessage="Délka názvu zadání musí být minimálně 2 znaky a maximalně 128!" >
                    <f:validateLength maximum="128" minimum="2"/>
                </h:inputText>
                
                <h:outputLabel for="tbPopis" value="Popis:" />
                <p:inputTextarea id="tbPopis" value="#{zadaniController.zadani ne null ? zadaniController.zadani.popis : zadaniController.popis}" cols="80" rows="14" autoResize="true" validatorMessage="Délka popisu zadání musí být minimálně 2 znaky a maximalně 2048!" >
                    <f:validateLength maximum="2048" minimum="2"/>
                </p:inputTextarea>
                
                <h:outputText value="Technologie:" />
                <p:selectManyCheckbox  value="#{zadaniController.selectedTech}" converter="#{technologieConverter}"  
                                       layout="pageDirection">
                    <f:selectItems value="#{zadaniController.allTechnologies}" var="technology" itemValue="#{technology}" itemLabel="#{technology.nazev}" />                   
                </p:selectManyCheckbox> 
                
                
                <f:facet name="footer">
                <sec:authorize ifAllGranted="ROLE_USER">    
                    <p:commandButton type="submit" value="Uložit a odeslat učiteli ke schválení" action="#{zadaniController.updateAsRequested()}"  >
                        <f:param name="id" value="#{param['id']}" />
                    </p:commandButton>
                    <p:commandButton type="submit" value="Uložit a neodesílat" action="#{zadaniController.update(4)}"  >
                        <f:param name="id" value="#{param['id']}" />
                    </p:commandButton>
                </sec:authorize>
               
                <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">    
                    <p:commandButton type="submit" value="Uložit" action="#{zadaniController.update(1)}"  >
                        <f:param name="id" value="#{param['id']}" />
                    </p:commandButton>
                </sec:authorize>
               
                <p:commandButton type="submit" value="Zpět na detail" action="#{zadaniController.detail()}"  >
                    <f:param name="id" value="#{param['id']}" />
                </p:commandButton>
                </f:facet>
            </h:panelGrid>
        </sec:authorize>
    </ui:define>
</ui:composition>
