<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">

        <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
        </sec:authorize>

        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Paralelka"  url="paralelka.xhtml" />
                <p:menuitem value="Editování paralelky "/> 
            </p:breadCrumb>


            <f:metadata>
                <f:event type="preRenderView" listener="#{paralelkaController.init()}"/>
            </f:metadata>


            <h:panelGrid columns="2" cellpadding="2" border="0" >
                <h:outputLabel for="tbCisloParalelky" value="Číslo"/>
                <h:outputText id="tbCisloParalelky" value="#{paralelkaController.paralelka.cisloParalelky}"  ></h:outputText>

                <h:outputLabel for="tbTime" value="Čas"/>
                <h:outputText id="tbTime" value="#{paralelkaController.paralelkaTime}"/>

                <h:outputLabel for="tbDay" value="Den"/>
                <h:outputText id="tbDay" value="#{paralelkaController.paralelkaDay}"/>

                <h:outputLabel for="calDeadline" value="Deadline výběru"/>
                <p:calendar id="calDeadline" value="#{paralelkaController.paralelka ne null ? paralelkaController.paralelka.deadlineVyber : paralelkaController.deadlineVyber}" pattern="MM/dd/yyyy HH:mm" />

         
            </h:panelGrid>
            <p:commandButton type="submit" value="Uložit" action="#{paralelkaController.update()}" >
             <f:param name="id" value="#{param['id']}" />
            </p:commandButton>
            <p:commandButton type="submit" value="Zpět" immediate="true" action="#{paralelkaController.back()}" />

        </sec:authorize>
    </ui:define>
</ui:composition>
