<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
         <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
        </sec:authorize>
        
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">

                <p:breadCrumb>  
                    <p:menuitem value="Home" url="index.xhtml" /> 
                    <p:menuitem value="Studenti"  url="userList.xhtml" />
                    <p:menuitem value="Hodnocení" /> 
                </p:breadCrumb>

<f:metadata>
        <f:event type="preRenderView" listener="#{userController.validateRights()}"/>
</f:metadata>
               <p:messages autoUpdate="true" redisplay="false"/>  


                <h:panelGrid columns="2" cellpadding="2" border="0" >
                    <h:outputLabel for="tbUserName" value="Jméno:"/>
                    <h:outputText id="tbUserName" value="#{userController.user ne null ? userController.user.userName : ''}" ></h:outputText>

                    <h:outputLabel for="tbNazev" value="Zadání:"/>
                    <h:outputText id="tbNazev" value="#{userController.user ne null ? userController.user.zadani.nazev : ''}"  />
                     
                     <h:outputLabel for="taHodnoceni" value="Komentář k hodnoceni:"/>
                     <h:inputTextarea id="taHodnoceni" value="#{userController.user ne null ? userController.user.hodnoceni.hodnoceni : ''}" cols="80" rows="14"  validatorMessage="Délka hodnocení musí být minimálně maximalně 2048 znaků!">
                         <f:validateLength maximum="2048"/>
                     
                     </h:inputTextarea>

                     <p:commandButton type="submit" value="Ohodnotit zadani" action="#{userController.ohodnoceno()}"  >
                         <f:param name="id" value="#{param['id']}" />
                     </p:commandButton>
                     <p:commandButton type="submit" value="Zpět" immediate="true" action="#{userController.zpet()}" />
                                     
                </h:panelGrid>

       </sec:authorize>
    </ui:define>
</ui:composition>
