<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  
         <sec:authorize ifAnyGranted="ROLE_USER">
        <h2>Vítejte na stránce pro výběr a odevzdání semestrálních prací</h2>
        <h3>Pokyny pro výběr zadání:</h3>
        <p>V sekci zadání si můžete vybrat zadání semestrální práce, které Vám vyhovuje a to pomocí tlačítka "Rezervovat". Pokud by se Vám žádné nelíbilo je možné vytvořit nové zadaní a to uložit, takto vytvořené zadání musí nejdříve učitel schválit. Po jeho poupravení či schválení učitelem lze zadání v sekci Moje Semestrálka "Potvrdit", pokud o něj budete mít pořád zájem. Najednou lze mít rezervováno pouze jedno zadaní. V rámci jedné paralelky lze jednu semestrálku vypracovávat pouze jednou. </p>
        
        <h3>Pokyny pro odevzdávání semestrální práce</h3>
        <p>V sekci Odevzdat semestrálku můžete nahrát svoji semestrální práci na server, aby ji později mohl učitel ohodnotit. Nahrání se provede pomocí tlačítka "Choose" a pokud soubor splňuje podmínky popsané u nahrávacího formuláře lze jej nahrát na server. O úspěchu či neúspěchu budete informováni.</p>
            
        <h2><h:outputText value="#{zadaniController.infoIntro()}"/></h2>

         </sec:authorize>
        
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
        <h2>Vítejte na stránce pro výběr a odevzdání semestrálních prací</h2>
        <p>Jako učitel budete mít možnost v sekci "Zadání" vytvářet nová zadání nebo editovat či smazat staré. Budete mít za úkol schvalovat zadání vytvořené studenty. V sekci technologie můžete spravovat typy technologii určená pro zadání. V sekci "Studenti" lze stáhnout a ohodnotit práci jednotlivým studentům.</p>

        
         </sec:authorize>
        
        
    </ui:define>
</ui:composition>
