<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

    <h:head>
        <title>Project Assign -  Login</title>
        
                <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31121867-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        
    </h:head>
    <h:body>

        
      
        <h:form id="loginForm">
              <h1>Login</h1>
            
              
            <f:metadata>
                <f:event type="preRenderView" listener="#{loginController.reset()}"/>
            </f:metadata>
              
            
        <p:panel>
            <p:messages id="login_msg" showDetail="true" redisplay="false"/>
            
            <h:panelGrid columns="2" cellpadding="2">

                <h:outputLabel for="j_username" value="Jméno" />
                <h:inputText id="j_username" value="#{loginController.userName}"  label="Jméno: "></h:inputText>
                <h:outputLabel for="j_password" value="Heslo" />
                <h:inputSecret id="j_password" value="#{loginController.password}" label="Heslo: "></h:inputSecret>
            </h:panelGrid>
            <h:commandButton type="submit" value="Odeslat" action="#{loginController.login}" />
            <h:commandButton type="reset" value="Reset"/>
            <h:outputLabel value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
        </p:panel>
        </h:form>

    </h:body>
</html>
