<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER,ROLE_TUTOR">
            <h2>Nastavení</h2>
           
             <p:panel header="Změna hesla">
                 <p:messages   autoUpdate="true" redisplay="false"/> 
                <h:panelGrid columns="2" cellpadding="2" border="0" >
                    <h:outputLabel for="tbUserName" value="Uživatelské jméno: "/>
                    <h:outputText id="tbUserName" value="#{userController.currentUser.userName}" /> 

                    <h:outputLabel for="tbOldPassword" value="Původní heslo"/>
                    <h:inputSecret id="tbOldPassword" value="#{userController.oldHeslo}" required="true" requiredMessage="Vyplntě původní heslo" autocomplete="off"/>

                    <h:outputLabel for="tbPassword" value="Nové heslo"/>
                    <h:inputSecret id="tbPassword" value="#{userController.heslo}" required="true" requiredMessage="Vyplntě alespon 5-místné nové heslo" validatorMessage="Vyplntě alespon 5-místné nové heslo">
                         <f:validateLength minimum="5" />  
                    </h:inputSecret>

                    <h:outputLabel for="tbNewPassword" value="Nové heslo pro kontrolu"/>
                    <h:inputSecret id="tbNewPassword" value="#{userController.heslo2}" required="true" requiredMessage="Vyplntě alespon 5-místné nové heslo"/>

                    <p:commandButton value="Změnit" action="#{userController.changePassword()}" />  
                    
                    
                </h:panelGrid>
            </p:panel>

        </sec:authorize>

    </ui:define>
</ui:composition>