<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  
        <center>

            <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
                <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
            </sec:authorize>

            <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">

                <p:breadCrumb>  
                    <p:menuitem value="Home" url="index.xhtml" /> 
                    <p:menuitem value="Paralelky"  /> 
                </p:breadCrumb>

                <f:metadata>
                    <f:event type="preRenderView" listener="#{paralelkaListController.getFilterParameters(param['name'])}"/>
                    <f:event type="preRenderView" listener="#{paralelkaListController.init()}"/>
                </f:metadata>   

                <p:panel header="Seznam paralelek" >
                <div id="commandButtons">
                    <p:menubar id="menuParalelka" rendered="true">
                        <p:menuitem value="Editovat" action="#{paralelkaListController.edit}" disabled="#{paralelkaListController.edidDisabled()}" />  
                    </p:menubar>
                </div>
                </p:panel>

                <p:messages autoUpdate="true" redisplay="false"/>       



                <p:panel id="tab">
                    <p:dataTable  var="paralelka" value="#{paralelkaListController.paralelkaDataModel}"
                                  selection="#{paralelkaListController.selectedParalelka}" selectionMode="single"

                                  paginator="true" rows="#{paralelkaListController.rows}"
                                  paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"  
                                  rowsPerPageTemplate="5,10,20">

                        <p:ajax event="rowSelect" update=":form:menuParalelka" />  
                        <p:ajax event="rowUnselect" update=":form:menuParalelka" />  


                        <p:column sortBy="#{paralelka.cisloParalelky}">
                            <f:facet name="header">
                                <h:outputText value="Číslo" />
                            </f:facet>
                            <h:outputText value="#{paralelka.cisloParalelky}" />
                        </p:column>

                        <p:column 
                            sortBy="#{paralelkaListController.getDayString(paralelka)}">                              
                            <f:facet name="header" >
                                <h:outputText value="Den" />
                            </f:facet>
                            <h:outputText value="#{paralelkaListController.getDayString(paralelka)}"/>
                        </p:column>

                        <p:column 
                            sortBy="#{paralelkaListController.getTimeString(paralelka)}">                              
                            <f:facet name="header" >
                                <h:outputText value="čas" />
                            </f:facet>
                            <h:outputText value="#{paralelkaListController.getTimeString(paralelka)}"/>
                        </p:column>
                              <p:column>                              
                            <f:facet name="header" >
                                <h:outputText value="deadline Výběr" />
                            </f:facet>
                            <h:outputText  value="#{paralelka.deadlineVyber}"/>
                        </p:column>

                        
                    </p:dataTable>
                </p:panel>



            </sec:authorize>

        </center>


    </ui:define>
</ui:composition>
