<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
         <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
        </sec:authorize>
        
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">

                
                
                <p:breadCrumb>  
                    <p:menuitem value="Home" url="index.xhtml" /> 
                    <p:menuitem value="Zadání"  url="zadani.xhtml" />
                    <p:menuitem value="Schválení zadání" /> 
                </p:breadCrumb>

<f:metadata>
    <f:event type="preRenderView" listener="#{zadaniController.validateRights()}"/>
</f:metadata>

                <h:panelGrid columns="2" cellpadding="2" border="0" >
                    <h:outputLabel for="tbNazev" value="Název"/>
                <h:inputText id="tbNazev" value="#{zadaniController.zadani ne null ? zadaniController.zadani.nazev : zadaniController.nazev}" validatorMessage="Délka názvu zadání musí být minimálně 2 znaky a maximalně 128!" >
                    <f:validateLength maximum="128" minimum="2"/>
                </h:inputText>
                
                <h:outputLabel for="taPopis" value="Popis" />
                <p:inputTextarea id="taPopis" value="#{zadaniController.zadani ne null ? zadaniController.zadani.popis : zadaniController.popis}" cols="80" rows="14" autoResize="true" validatorMessage="Délka popisu zadání musí být minimálně 2 znaky a maximalně 2048!" >
                    <f:validateLength maximum="2048" minimum="2"/>
                </p:inputTextarea>

                 <h:outputText value="Technologie:" />
                <p:selectManyCheckbox  value="#{zadaniController.selectedTech}" converter="#{technologieConverter}"  
                                       layout="pageDirection">
                    <f:selectItems value="#{zadaniController.allTechnologies}" var="technology" itemValue="#{technology}" itemLabel="#{technology.nazev}" />                   
                </p:selectManyCheckbox> 
                    
                 <f:facet name="footer">
                    <p>V případě neschválení zadání informujte studenta proč zadání nemohlo být schváleno</p>
                    <p:commandButton type="submit" value="Schválit zadaní studentovi jako soukromé" action="#{zadaniController.update(16)}"  >
                       <f:param name="id" value="#{param['id']}" />
                    </p:commandButton>
                    <sec:authorize ifAnyGranted="ROLE_ADMIN">
                         <p:commandButton type="submit" value="Schválit zadaní jako veřejné" action="#{zadaniController.update(1)}"  >
                         
                            <f:param name="id" value="#{param['id']}" />
                         </p:commandButton>
                    </sec:authorize>
                    <p:commandButton type="submit" value="Neschválit zadaní a poslat ho zpět na kompletní předělání" action="#{zadaniController.update(4)}"  >
                       <f:param name="id" value="#{param['id']}" />
                    </p:commandButton>      
                        
                        </f:facet>
                </h:panelGrid>
            
             
       </sec:authorize>
    </ui:define>
</ui:composition>
