<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
        <sec:authorize ifNotGranted="ROLE_USER,ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
        </sec:authorize>  

        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Zde student vidí svoji semestrálku</p>
        </sec:authorize>  

        <sec:authorize ifAllGranted="ROLE_USER">

            <f:metadata>
                <f:event type="preRenderView" listener="#{zadaniController.validateRights()}"/>
            </f:metadata>
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Semestrálka"/>
            </p:breadCrumb>


            <div id="commandButtons">
                <p:menubar>                  
                    <p:menuitem value="Editovat" action="#{zadaniListController.edit}"  disabled="#{zadaniController.editDisabled()}" rendered="true">
                    <f:param name="id" value="#{param['id']}" />
                    </p:menuitem> 
                    <p:menuitem value="Potvrdit zájem o zadani" action="#{zadaniController.update(2)}"  disabled="#{zadaniController.potvrditDisable()}" rendered="true">
                    <f:param name="id" value="#{param['id']}" />
                    </p:menuitem> 
                    <p:menuitem value="Nechci toto zadání"  onclick="deleteConfirmation.show() " disabled="#{zadaniController.deleteSemestralkaDisabled()}">
                        <f:param name="id" value="#{param['id']}" />
                    </p:menuitem>
                </p:menubar>
            </div>



            <h:panelGrid columns="2" cellpadding="2" border="0">


                <h:outputLabel for="tbNazev" value="Název"/>
                <h:outputText id="tbNazev" value="#{zadaniController.zadani.nazev}" ></h:outputText>

                <h:outputLabel for="taPopis" value="Popis"/>
                <p:inputTextarea id="taPopis" value="#{zadaniController.zadani.popis}"  readonly="true" cols="80" rows="14" autoResize="true" />     
 
                <h:outputLabel for="taHodnoceni" value="Komentář k hodnocení: "/>
                <p:inputTextarea id="taHodnoceni" value="#{userController.currentUser.hodnoceni.hodnoceni}" readonly="true" cols="80"/>



                <p:dataTable  var="technologie" value="#{zadaniController.selectedTech}" rendered="#{not empty zadaniController.selectedTech}">

                    <p:column id="technologieNazev" >
                        <f:facet name="header">
                            <h:outputText value="Technologie" />
                        </f:facet>
                        <h:outputText value="#{technologie.nazev}" />
                    </p:column>
                    

                </p:dataTable>


            </h:panelGrid>


            <p:confirmDialog message="Opravdu nechcete toto zadani? #{zadaniController.zadani.nazev}"  
                             widgetVar="deleteConfirmation" header="Potvrdit">  

                <p:commandButton value="Ano"  oncomplete="deleteConfirmation.hide()"  
                                 action="#{zadaniController.deleteSemestralka()}" >  
                    <f:param name="id" value="#{param['id']}" />
                </p:commandButton>
                <p:commandButton value="Ne" onclick="deleteConfirmation.hide()" type="button" />   

            </p:confirmDialog>

        </sec:authorize>        
    </ui:define>
</ui:composition>
