<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  
        <center>
<f:metadata>
        <f:event type="preRenderView" listener="#{technologieListController.getFilterParameters(param['name'])}"/>
                    <f:event type="preRenderView" listener="#{technologieListController.init()}"/>
</f:metadata>               
      <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
      </sec:authorize>
      
            <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                  <p:menuitem value="Technologie" /> 
            </p:breadCrumb>
                

                <p:messages autoUpdate="true" redisplay="false"/>   

<f:metadata>
        <f:event type="preRenderView" listener="#{technologieListController.getFilterParameters(param['name'])}"/>
        <f:event type="preRenderView" listener="#{technologieListController.init()}"/>
</f:metadata>   
            
                <p:panel header="Seznam technologii" >
                        <h:panelGrid columns="8" cellpadding="2">
                            <h:outputLabel for="tbNazev" value="Název" />
                            <h:inputText id="tbNazev" value="#{technologieListController.filterName}" label="Název"></h:inputText>
                            <p:commandButton type="submit" ajax="false" value="Hledat" action="#{technologieListController.search()}"></p:commandButton>
                        </h:panelGrid>
                </p:panel>

                <div id="commandButtons">
                    <p:menubar id="menuTechnologie" rendered="true">
                        <p:menuitem value="Nová technologie"  action="#{technologieListController.create}"  />  
                        <p:menuitem value="Editovat" action="#{technologieListController.edit}" disabled="#{technologieListController.edidDisabled()}" />  
                        <p:menuitem value="Smazat" onclick="deleteConfirmation.show()" disabled="#{technologieListController.deleteDisabled()}"/>
                    </p:menubar>
                </div>

  
  
                <p:panel id="tab">
                    <p:dataTable  var="technologie" value="#{technologieListController.technologieDataModel}"
                                  selection="#{technologieListController.selectedTechnologie}" selectionMode="single"
                                  emptyMessage="Nenalezeny žádné technologie pro zadaná kritéria" 
                                  paginator="true" rows="#{technologieListController.rows}"
                                  paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"  
                                  rowsPerPageTemplate="5,10,20">

                        <p:ajax event="rowSelect" update=":form:menuTechnologie :form:smazat" />  
                        <p:ajax event="rowUnselect" update=":form:menuTechnologie" />  


                        <p:column id="technologieNazev" sortBy="#{technologie.nazev}">
                            <f:facet name="header">
                                <h:outputText value="Název" />
                            </f:facet>
                            <h:outputText value="#{technologie.nazev}" />
                        </p:column>

                        <p:column 
                         sortBy="#{technologie.id}">
                 <!--                filterOptions=""  -->
                                  
                            <f:facet name="header" >
                                <h:outputText value="ID" />
                            </f:facet>
                            <h:outputText value="#{technologie.id}" />
                        </p:column>

                    </p:dataTable>
                </p:panel>





                <p:confirmDialog id="smazat" message="Opravdu nechcete tuto technologii? #{technologieListController.selectedTechnologie.nazev}"  
                                 widgetVar="deleteConfirmation" header="Potvrdit">  

                    <p:commandButton value="Ano" oncomplete="deleteConfirmation.hide()"  
                                     action="#{technologieListController.delete}" />  
                    <p:commandButton value="Ne" onclick="deleteConfirmation.hide()" type="button" />   

                </p:confirmDialog>


         </sec:authorize>
        
        </center>

    
    </ui:define>
</ui:composition>
