<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
       xmlns:sec="http://www.springframework.org/security/tags">
    
    <h:head>
        <title><ui:insert name="title">Project Assign <h:outputText value="#{loginController.getSubjectCode()}"/></ui:insert></title>
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31121867-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        
        <c:set target="#{flash}" property="keepMessages" value="true" />
        
    </h:head>
    <h:body>

        <div id="container">

            <div id="headerLayout">
                <ui:insert name="header"> 
                    <ui:include src="staticElements/header.xhtml" /> 
                </ui:insert>
            </div>

            <div id="logoutLayout">
                <h:form>  

                    <ui:include src="staticElements/logout.xhtml" /> 

                </h:form>
            </div>
            <div id="headerline"></div>

            <div id="menuLayout">
                <ui:insert name="menu"> 
                    <h:form>       
                        <ui:include src="staticElements/menu.xhtml" /> 
                    </h:form>
                </ui:insert>  
            </div>



            <div id="contentLayout">
               
                <h:form id="form" enctype="multipart/form-data">     
                    <ui:insert name="content">

                        Default content
                    </ui:insert>
            
            </h:form>
                    
                <div id="footerline"></div>
            </div> 

            <div id="footerLayout">
                <ui:insert name="footer"> 
                    <ui:include src="staticElements/footer.xhtml" /> 
                </ui:insert>        
            </div>
        </div>
    </h:body>

</html>
