<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  

      <sec:authorize ifNotGranted="ROLE_ADMIN">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
      </sec:authorize>
        
         <sec:authorize ifAnyGranted="ROLE_ADMIN">
        
        <h1>Nahraní uživatelů do databáze</h1>
        <p>Pokyny: Pro nahrani uživatelů vložte soubor(*.csv) - export daného předmětu z KOSu.</p>


          <p:messages autoUpdate="true" redisplay="false"/>  

            <p:fileUpload value="#{uploadController.fileToUpload}" mode="simple"/>  
          
            <p:commandButton value="Nahrat uzivatele" ajax="false"  
                             actionListener="#{uploadController.uploadKosFile}"/>  

         </sec:authorize>
    </ui:define>
</ui:composition>
