<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  
        <center>
            
      <sec:authorize ifNotGranted="ROLE_ADMIN,ROLE_TUTOR">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
      </sec:authorize>
        
            <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
            
            <p:breadCrumb>  
                <p:menuitem value="Home" url="index.xhtml" /> 
                <p:menuitem value="Studenti"/>   
            </p:breadCrumb>

            <f:metadata>
                <f:event type="preRenderView" listener="#{studentListController.getFilterParameters(param['name'],param['paralelka'])}"/>
                <f:event type="preRenderView" listener="#{studentListController.init()}"/>
            </f:metadata>

            <p:panel header="Seznam uživatelů" >
                <h:panelGrid columns="8" cellpadding="2">
                    <h:outputLabel for="tbUserName" value="Username" />
                    <h:inputText id="tbUserName" value="#{studentListController.filterName}" label="Username"></h:inputText>
                     
                    <h:outputLabel for="selParalelka" value="Paralelka" />
               
                    <p:selectOneMenu id="selParalelka" label="Paralelka" value="#{studentListController.filterCircles}" >            
                          <f:selectItems value="#{studentListController.circlesDataSource}"/>    
                        </p:selectOneMenu>  
                    
                    <p:commandButton type="submit" ajax="false" value="Hledat" action="#{studentListController.search()}"></p:commandButton>

                </h:panelGrid>
            </p:panel>

               <div id="commandButtons">
                    <p:menubar id="menuUsers" rendered="true">
                        <p:menuitem value="Hodnotit" action="#{studentListController.hodnoceni()}" />
                           <p:menuitem value="Detail zadaní" action="#{studentListController.detailZadani()}" disabled="#{studentListController.detailDisable()}"/> 
                    </p:menubar>
                </div>

            <p:panel id="tab">
                
                 <p:messages autoUpdate="true" redisplay="false"/>  
                 <p:dataTable id="dataTable" var="user" value="#{studentListController.studentListDataModel}" rowKey="user.id"
                              selection="#{studentListController.selectedRecord}" selectionMode="single"
                              emptyMessage="Nenalezeni žádní studenti pro zadaná kritéria" 
                                  paginator="true" rows="#{studentListController.rows}"
                                  paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"  
                                  rowsPerPageTemplate="10,20,50">

                        <p:ajax event="rowSelect" update=":form:menuUsers" />  
                        <p:ajax event="rowUnselect" update=":form:menuUsers" /> 

                  <p:column sortBy="#{user.userName}" >
                        <f:facet name="header">
                            <h:outputText value="Username" />
                        </f:facet>
                        <h:outputText value="#{user.userName}" title="#{user.firstName} #{user.lastName}"/>
                    </p:column>
                        
                        
                    <p:column>   
                         <f:facet name="header">
                            <h:outputText value="Semestrálka" />
                        </f:facet>
                        
                        <p:commandLink id="download" value="#{user.projectTopicTrimmed}"  update="dataTable" ajax="false" disabled="#{studentListController.downloadDisable(user.userName)}">  
                            <p:fileDownload value="#{studentListController.zipAllNewestFilesByType(user.userName)}" />    
                        </p:commandLink>                   
                    </p:column>
                     
                        <p:column sortBy="#{user.isNew}">
                        <f:facet name="header">
                            <h:outputText value="Nové" />
                        </f:facet>
                        <h:outputText value="#{user.isNewString}" />
                    </p:column>    
                        
                        <p:column sortBy="#{user.lastUploadDate}">
                        <f:facet name="header">
                            <h:outputText value="Naposledy nahrané"/>
                        </f:facet>
                        <h:outputText value="#{user.lastUploadDateString}" />
                    </p:column>      
                        
                    <p:column sortBy="#{user.isEvaluated}">
                        <f:facet name="header">
                            <h:outputText value="Hodnoceno" />
                        </f:facet>
                        <h:outputText value="#{user.isEvaluatedString}" />
                    </p:column>
                        
                        
                    <p:column sortBy="#{user.circle}">
                        <f:facet name="header">
                            <h:outputText value="Paralelka"/>
                        </f:facet>
                        <h:outputText value="#{user.circle}" />
                    </p:column>     
                        
                </p:dataTable>                
              
            </p:panel>

        </sec:authorize>      

        </center>

    </ui:define>
</ui:composition>
