<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">
        
      <sec:authorize ifNotGranted="ROLE_ADMIN">
            <p>Nemáte dostatečné oprávnení na zobrazení této stránky</p>
      </sec:authorize>
    
        <sec:authorize ifAnyGranted="ROLE_ADMIN">

            <p:dataTable id="tabulka" value="#{userListController.userDataModel}" var="user">
                <p:column>
                    <f:facet name="header">   
                        Jméno
                    </f:facet>
                    <h:outputText value="#{user.userName}" /> 
                </p:column>

                <p:column>
                    <f:facet name="header">  
                        heslo
                    </f:facet>
                    <h:inputText value="#{user.password}" />
                </p:column>

                
                <p:column>                    
                    <h:commandButton action="#{userController.changePassword(user)}" value="Zmenit" />                    
                </p:column>

               
            </p:dataTable>
    

            </sec:authorize>

    </ui:define>
</ui:composition>