<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags">

    <ui:define name="content">  
        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_USER,ROLE_TUTOR">


            <center>
                <p:breadCrumb>  
                    <p:menuitem value="Home" url="index.xhtml" /> 
                    <p:menuitem value="Zadání"  url="zadani.xhtml" />  
                </p:breadCrumb>

                <f:metadata>
                    <f:event type="preRenderView" listener="#{zadaniListController.init()}"/>
                </f:metadata>

                <p:panel header="Seznam zadání" >
                    <h:panelGrid columns="8" cellpadding="2">
                        <h:outputLabel for="tbNazev" value="Název" />
                        <h:inputText id="tbNazev" value="#{zadaniListController.filterName}" label="Název"></h:inputText>
                        <p:commandButton type="submit" ajax="false" value="Hledat" action="#{zadaniListController.search()}"></p:commandButton>

                        <h:outputText value="Filtry: " />  

                        <p:selectOneMenu  value="#{zadaniListController.filterStatus}">            
                            <f:selectItem itemLabel="Vše" itemValue="0" />  
                            <f:selectItem itemLabel="Pouze veřejné" itemValue="1" />  
                        </p:selectOneMenu>  
                        <p:commandButton type="submit" ajax="false" value="Filtrovat" action="#{zadaniListController.search()}"></p:commandButton>

                    </h:panelGrid>
                </p:panel>

                <div id="commandButtons">
                    <p:menubar id="menuZadani" rendered="true">
                        <sec:authorize ifAnyGranted="ROLE_USER,ROLE_ADMIN">
                        <p:menuitem value="Nové zadání"  action="#{zadaniController.create}" disabled="#{zadaniListController.createDisabled()}" />  
                        </sec:authorize>
                        <p:menuitem  value="Detail" action="#{zadaniListController.detail}" disabled="#{zadaniListController.detailDisabled()}"  />  
                        <p:menuitem value="Editovat" action="#{zadaniListController.edit}"  disabled="#{zadaniListController.editDisabled()}" />  
                       
                        <sec:authorize ifAllGranted="ROLE_USER">
                            <p:menuitem value="Rezervovat" onclick="rezervovatConfirmation.show()" disabled="#{zadaniListController.reservationDisabled()}"/>             
                        </sec:authorize>
                       
                       
                        <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_TUTOR">
                            <p:menuitem value="Schválit či upravit" action="#{zadaniListController.accept()}"  disabled="#{zadaniListController.acceptDisabled()}"/>
                            <p:menuitem value="Smazat" onclick="deleteConfirmation.show() "  disabled="#{zadaniListController.editDisabled()}"/>               
                        </sec:authorize>
                        
                    </p:menubar>
                </div>

        
          
                   <p:messages autoUpdate="true" redisplay="false"/>       
    
                
                <f:metadata>
                    <f:event type="preRenderView" listener="#{zadaniListController.getFilterParameters(param['name'],param['filtr'] )}"/>
                </f:metadata>

                <p:panel id="tab">
                    <p:dataTable  var="zadani" value="#{zadaniListController.zadaniDataModel}" rowKey="#{zadani.id}"
                                  selection="#{zadaniListController.selectedZadaniRecord}" selectionMode="single"

                                  paginator="true" rows="#{zadaniListController.rows}"
                                  paginatorTemplate="  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"  
                                  rowsPerPageTemplate="5,10,20,40">

                        <p:ajax event="rowSelect" update=":form:menuZadani :form:rezervovat :form:smazat"/>  
                        <p:ajax event="rowUnselect" update=":form:menuZadani" />  


                        <p:column id="zadaniNazev" sortBy="#{zadani.nazev}">
                            <f:facet name="header">
                                <h:outputText value="Nazev" />
                            </f:facet>
                            <h:outputText value="#{zadani.nazev}" />
                        </p:column>

                        <p:column 
                            sortBy="#{zadani.statusText}">
                            <!--                filterOptions=""  -->

                            <f:facet name="header" >
                                <h:outputText value="Dostupnost" />
                            </f:facet>
                            <h:outputText value="#{zadani.statusText}" />
                        </p:column>

                    </p:dataTable>
                     
                                   
                </p:panel>



                <p:confirmDialog id="rezervovat" message="Opravdu chcete vybrat toto zadani? #{zadaniListController.selectedZadaniRecord.nazev}"   
                                 widgetVar="rezervovatConfirmation" header="Potvrdit">  

                    <p:commandButton value="Ano" oncomplete="rezervovatConfirmation.hide()"  
                                     action="#{zadaniListController.rezervovat()}" />  
                    <p:commandButton value="Ne" onclick="rezervovatConfirmation.hide()" type="button" />   

                </p:confirmDialog>

                <p:confirmDialog id="smazat" message="Opravdu nechcete toto zadani? #{zadaniListController.selectedZadaniRecord.nazev}"  
                                 widgetVar="deleteConfirmation" header="Potvrdit">  

                    <p:commandButton value="Ano" oncomplete="deleteConfirmation.hide()"  
                                     action="#{zadaniListController.delete}" />  
                    <p:commandButton value="Ne" onclick="deleteConfirmation.hide()" type="button" />   

                </p:confirmDialog>



            </center>
        </sec:authorize>           
    </ui:define>
</ui:composition>
